.f1(@fw: 400){ font-family: 'Open Sans', sans-serif; font-weight: @fw }
.f2(@fw: 400){ font-family: 'Lato', sans-serif; font-weight: @fw }
@c0: #fff;	// Blanc
@c1: #FC6C00;	// orange
@c2: #727272;	// Gris

/*------------------------------------*\
    MAIN
\*------------------------------------*/

/* global box-sizing */
*,
*:after,
*:before {
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	-webkit-font-smoothing:antialiased;
	font-smoothing:antialiased;
	text-rendering:optimizeLegibility;
}
/* html element 62.5% font-size for REM use */
html {
	font-size:62.5%;
}
body {
	font:300 16px/1.4 'Open Sans', Helvetica, Arial, sans-serif;
	color:#444;
}
/* clear */
.clear {
    *zoom:1;
}
img {
	max-width:100%;
	vertical-align:bottom;
}
a {
	color:#444;
	text-decoration:none;
}
a:hover {
	color:#444;
}
a:focus {
	outline:0;
}
a:hover,
a:active {
	outline:0;
}
input:focus {
	outline:0;
	border:1px solid #04A4CC;
}

h1{
	font-size: 3.75vw;
}
h2{
	font-size: 5rem;
	margin: 0 0 2vw 0;
}
p{
	font-size: 2rem;
}

/*------------------------------------*\
    STRUCTURE
\*------------------------------------*/

/* wrapper */
.wrapper {
	max-width:1650px;
	width:95%;
	margin:0 auto;
	position:relative;
	padding: 5vw 0;
}
.wrapper_large {
	max-width:1650px;
	width:95%;
	margin:0 auto;
	position:relative;
	padding: 7vw 0;
}
/* header */
.header {
	position: fixed;
	width: 100%;
	display: flex;
    z-index: 500;
	justify-content: space-between;
	padding: 2% 3%;
	transition: padding 0.5s, background 0.5s;

	&.scroll{
		background: @c1;
		padding: 0% 5.35%;

		.logo{
			.logo-img{
			    width: 125px;
			}
		}
		.hamburger{
			height: 92px;
		}
	}
	.mobile{
		position: absolute;
		top: 0;
		left: 100%;
		bottom: 0;
		width: 50%;
		height: 100vh;
		background: @c1;
		transition: left 1s;

		&.active{
			left: 50%;
		}
	}
}
body:not(.home){
	.top{
		width: 100%;
		height: 22vw;
		background: @c1;
		display: flex;
		align-items: center;

		h1{
			color: white;
			padding-left: 15vw;
		}
	}
}
/* logo */
.logo {
	.logo-img {
		width: 200px;
		transition: width 0.5s;
	}
}
/* nav */
.nav {
	display: flex;
	flex-direction: column;
	padding: 10vw 0 0 5vw;
	ul{
		display: flex;
		list-style: none;
		flex-direction: column;
		justify-content: center;
		li{
			a{
				color: white;
				font-size: 5rem;
				font-weight: bold;
				margin-left: 20px;
				.f1(700);
			}
		}
	}
}

/* hamburger */
@hamburger-padding-x			: 15px;
@hamburger-padding-y			: 15px;
@hamburger-layer-width			: 35px;
@hamburger-layer-height			: 4px;
@hamburger-layer-spacing		: 6px;
@hamburger-layer-color			: @c0;
@hamburger-layer-border-radius	: 4px;
@hamburger-active-layer-color	: @c0;
.hamburger {
    padding: @hamburger-padding-y @hamburger-padding-x;
    display: inline-block;
    cursor: pointer;

    transition-property: opacity, filter;
    transition-duration: 0.15s;
    transition-timing-function: linear;

    // Normalize (<button>)
    height: 80px;
	transition: height 0.5s;
    font: inherit;
    color: inherit;
    text-transform: none;
    background-color: transparent;
    border: 0;
    margin: 0;
    overflow: visible;
	z-index: 150;

    &.is-active {
        .hamburger-inner,
        .hamburger-inner::before,
        .hamburger-inner::after {
            background-color: @hamburger-active-layer-color;
        }
		.hamburger-inner{
		    transform: translate3d(0,10px,0) rotate(45deg);
			top: 20%;
		}
		.hamburger-inner::before{
			opacity: 0;
		}
		.hamburger-inner::after{
		    transform: translate3d(0,-20px,0) rotate(-90deg);
			bottom: -20px;
		}
    }
    .txt{
        display: block;
        position: absolute;
        width: 100%;
        text-align: center;
        color: black;
        font-size: 10px;
        letter-spacing: 3px;
        top: 110%;

        span{
            transition: color .25s ease-in-out;
            position: absolute;
            right: 50%;
            transform: translateX(50%);

            &.opened{
                transform: translateX(100px);
                opacity: 0;
            }
        }
    }
}
.hamburger-box {
    width: @hamburger-layer-width;
    height: @hamburger-layer-height * 3 + @hamburger-layer-spacing * 2;
    display: inline-block;
    position: relative;
}
.hamburger-inner {
    display: block;
    top: 50%;
    margin-top: @hamburger-layer-height / -2;

    &,
    &::before,
    &::after {
        width: @hamburger-layer-width;
        height: @hamburger-layer-height;
        background-color: @hamburger-layer-color;
        border-radius: @hamburger-layer-border-radius;
        position: absolute;
        transition-property: transform;
        transition-duration: 0.15s;
        transition-timing-function: ease;
    }

    &::before,
    &::after {
        content: "";
        display: block;
    }

    &::before {
        top: (@hamburger-layer-spacing + @hamburger-layer-height) * -1;
    }

    &::after {
        bottom: (@hamburger-layer-spacing + @hamburger-layer-height) * -1;
    }
}
/* footer */
.footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
    background-color: #424242;
    padding: 0% 5.35%;

	.copyright{
		color: white;
	}
	.social_media{
		img{
			width: 40px;
		}
	}
}

/*------------------------------------*\
    GENERAL
\*------------------------------------*/
.classy{
	display: inline-block;
	font-size: 2rem;
    background-color: @c1;
    padding: 8px 15px;
    color: @c0;
    border-radius: 20px;
	transition: 0.3s;

	&:hover{
		background-color: @c2;
		color: @c0;
	}

}
.sub_title{
	font-size: 4rem;
	font-weight: 300;
}
.orange_filter{
	position: absolute;
	background-color: @c1;
	z-index: 50;
	opacity: 0.2;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
}
.bg_gray{
	background: #efefef;
}
.two_bloc_text{
	display: flex;
	justify-content: space-between;

	.left{
		width: 45%;
	}
	.right{
		margin-top: 100px;
		width: 45%;
	}
}
.img_text_right{
	display: flex;
	justify-content: space-between;
	align-items: center;

	.left{
		width: 45%;
	}
	.right{
		width: 45%;
		.img{
			width: 100%;
			height: 500px;
		}
	}
}
.img_text_left{
	display: flex;
	justify-content: space-between;
	align-items: center;

	.left{
		width: 45%;
		.img{
			width: 100%;
			height: 500px;
		}
	}
	.right{
		width: 45%;
	}
}
.title_btn{
	display: flex;
    align-items: center;
	margin-bottom: 3vw;
	h2{
	    margin-right: 2vw;
	}
}
.section_event{
	display: flex;
    justify-content: space-between;
	.bloc_event{
		position: relative;
		width: 30%;
		height: 14.5vw;
		.date{
			position: absolute;
			top: 0;
			background-color: @c1;
			display: inline-block;
			width: 90px;
			height: 90px;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			text-align: center;
			line-height: 30px;

			.chiffre{
				font-size: 4rem;
				color: white;
			}
			.mois{
				font-size: 2rem;
				color: white;
			}
		}
		.bg{
			filter: grayscale(100%);
			width: 100%;
			height: 100%;

			&:hover{
				filter: grayscale(0%);
			}
		}
	}
}

.section_comite{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;fa

	.bloc_comite{
	    width: 15%;
	    text-align: center;
		.photo{
			width: 100%;
			height: 12vw;
			margin-bottom: 1vw;
		}
		.nom{
			font-weight: 700;
		}
	}
}
.photo{
	width: 100%;
	height: 12vw;
	margin-bottom: 1vw;
}
.bloc_comite{
	width: 15%;
	text-align: center;
	.photo{
		width: 100%;
		height: 12vw;
		margin-bottom: 1vw;
	}
	.nom{
		font-weight: 700;
	}
}
/*------------------------------------*\
    PAGES
\*------------------------------------*/
.home{
	.top{
		width: 100%;
		height: 100vh;
		position: relative;
		padding: 5vw;
		display: flex;
		align-items: center;
		background: #FC6C00;
	 	background: url(img/header_orange_01_old.png);
		filter: drop-shadow(5px 5px 5px #222);
	    z-index: 101;

		background-size: cover;
		background-position-x: 100%;
		background-position-y: 100%;

		h1{
			color: white;
			position: relative;
			display: block;
		    max-width: 750px;
			margin-left: 10vw;
			z-index: 100;
		}
		.wave_bottom{
			height: 100px;
		    position: absolute;
		    bottom: -100px;
		    left: 0;
		    right: 0;
		    z-index: 50;

			// background: url(img/wave_bottom.png);
			background-position: center;
		}
	}
	.section_2{
		margin-top: -13vw;
		.slick-slider{
			.slideContent{
				display: flex;
				padding-top: 13vw;
				.text{
					width: 50%;
					float: right;
					padding: 1vw 0vw 1vw 7vw;
				}
			}
		}
	}
	.section_3{
		background: #efefef;
		.btn{
			display: flex;
		    justify-content: center;
		    margin-top: 2vw;
		}
	}

	.img_text_right{
		padding: 125px 0;
		.left{
			position: relative;
			width: 45%;
			margin-top: -50px;
			z-index: 100;

			img{
				display: block;
			    position: absolute;
			    bottom: -126px;
			}
		}
		.right{
			margin-top: 100px;
		}
	}
}
.evenement{
	.section_event{
	    flex-wrap: wrap;

		.bloc_event{
			margin-bottom: 5vw;
		}
	}
	.bg_calendar{
		background: #efefef;
		.section_calendar{
			display: flex;
			.left{
				margin-right: 5vw;
				iframe{
					filter: grayscale(100%);
				}
			}
			.right{
				ul{
					list-style: none;
					padding: 0;
					margin: 0;
					overflow: scroll;
					height: 500px;
					.bold{
						font-weight: bold;
					}
					.line{
						border-bottom: 2px solid @c2;
						padding-bottom: 0.5vw;
						margin-bottom: 0.5vw;

						&:last-child{
							border: 0;
						}
					}
				}
			}
		}
	}
}
.conseil-executif{
	.section_comite{
		justify-content: left;
		.bloc_comite{
			width: 25%;
			margin-bottom: 3vw;
		}
	}
	.section_info_comite{
		.info_comite{
			// display: none;
		}
	}
}
.a-propos{
	.wrapper{
		padding: 2vw 0 2vw 0;
	}
}



/*------------------------------------*\
    IMAGES
\*------------------------------------*/



/*------------------------------------*\
	TYPOGRAPHY
\*------------------------------------*/

@font-face {
	font-family:'Font-Name';
	src:url('fonts/font-name.eot');
	src:url('fonts/font-name.eot?#iefix') format('embedded-opentype'),
		url('fonts/font-name.woff') format('woff'),
		url('fonts/font-name.ttf') format('truetype'),
		url('fonts/font-name.svg#font-name') format('svg');
    font-weight:normal;
    font-style:normal;
}

/*------------------------------------*\
    RESPONSIVE
\*------------------------------------*/

@media only screen and (min-width:320px) {

}
@media only screen and (min-width:480px) {

}
@media only screen and (min-width:768px) {

}
@media only screen and (min-width:1024px) {

}
@media only screen and (min-width:1140px) {

}
@media only screen and (min-width:1280px) {

}
@media only screen and (-webkit-min-device-pixel-ratio:1.5),
	   only screen and (min-resolution:144dpi) {

}

/*------------------------------------*\
    MISC
\*------------------------------------*/

::selection {
	background:#04A4CC;
	color:#FFF;
	text-shadow:none;
}
::-webkit-selection {
	background:#04A4CC;
	color:#FFF;
	text-shadow:none;
}
::-moz-selection {
	background:#04A4CC;
	color:#FFF;
	text-shadow:none;
}

/*------------------------------------*\
    WORDPRESS CORE
\*------------------------------------*/

.alignnone {
	margin:5px 20px 20px 0;
}
.aligncenter,
div.aligncenter {
	display:block;
	margin:5px auto 5px auto;
}
.alignright {
	float:right;
	margin:5px 0 20px 20px;
}
.alignleft {
	float:left;
	margin:5px 20px 20px 0;
}
a img.alignright {
	float:right;
	margin:5px 0 20px 20px;
}
a img.alignnone {
	margin:5px 20px 20px 0;
}
a img.alignleft {
	float:left;
	margin:5px 20px 20px 0;
}
a img.aligncenter {
	display:block;
	margin-left:auto;
	margin-right:auto;
}
.wp-caption {
	background:#FFF;
	border:1px solid #F0F0F0;
	max-width:96%;
	padding:5px 3px 10px;
	text-align:center;
}
.wp-caption.alignnone {
	margin:5px 20px 20px 0;
}
.wp-caption.alignleft {
	margin:5px 20px 20px 0;
}
.wp-caption.alignright {
	margin:5px 0 20px 20px;
}
.wp-caption img {
	border:0 none;
	height:auto;
	margin:0;
	max-width:98.5%;
	padding:0;
	width:auto;
}
.wp-caption .wp-caption-text,
.gallery-caption {
	font-size:11px;
	line-height:17px;
	margin:0;
	padding:0 4px 5px;
}
.sticky {

}
.bypostauthor {

}

/*------------------------------------*\
    PRINT
\*------------------------------------*/

@media print {
	* {
		background:transparent !important;
		color:#000 !important;
		box-shadow:none !important;
		text-shadow:none !important;
	}
	a,
	a:visited {
		text-decoration:underline;
	}
	a[href]:after {
		content:" (" attr(href) ")";
	}
	abbr[title]:after {
		content:" (" attr(title) ")";
	}
	.ir a:after,
	a[href^="javascript:"]:after,
	a[href^="#"]:after {
		content:"";
	}
	pre,blockquote {
		border:1px solid #999;
		page-break-inside:avoid;
	}
	thead {
		display:table-header-group;
	}
	tr,img {
		page-break-inside:avoid;
	}
	img {
		max-width:100% !important;
	}
	@page {
		margin:0.5cm;
	}
	p,
	h2,
	h3 {
		orphans:3;
		widows:3;
	}
	h2,
	h3 {
		page-break-after:avoid;
	}
}
